<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
        <a mat-button> Accounts </a>
        <a mat-button > Create Account </a>
        <a mat-button> Contacts </a>
        <a mat-button > Create Contact </a>
        <a mat-button > Activities </a>
        <a mat-button > Create Activity </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row>
</mat-toolbar>